@import "scss/config";

.block {
  @include flex(center, center);
  @include size(100%);

  top: 0;
  left: 0;
  z-index: 12;
  overflow: hidden;
  background-color: transparent;

  &.block {
    position: absolute;
    border-radius: rem(8px);

    .wrapper {
      @include size(75px);
    }
  }

  &.page {
    position: fixed;

    .wrapper {
      @include size(rem(100px));
    }
  }
}

.wrapper {
  display: block;
  position: relative;
  border-radius: 50%;
  border: rem(3px) solid transparent;
  border-top-color: var(--brand);
  animation: spin 2s linear infinite;
}

.wrapper {

  &::after,
  &::before {
    position: absolute;
    border-radius: 50%;
    border: rem(3px) solid transparent;
    content: '';
  }

  &:before {
    top: rem(5px);
    left: rem(5px);
    right: rem(5px);
    bottom: rem(5px);
    border-top-color: var(--brand-hover);
    animation: spin 3s linear infinite;
  }

  &:after {
    top: rem(15px);
    left: rem(15px);
    right: rem(15px);
    bottom: rem(15px);
    border-top-color: var(--brand-disabled);
    animation: spin 1.5s linear infinite;
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
