@import "scss/config";

.block {
  position: relative;
}

.header {
  @include make-spacer('py', 1);
  @include make-spacer('px', 2);

  display: grid;
  grid-template-columns: 1fr rem(13px);
  align-items: center;
  gap: rem(10px);
  background-color: var(--primary);
  border-bottom: 1px solid var(--border);
  height: rem(34px);
  font-size: rem(12px);
  font-weight: var(--typography-bold);
  text-transform: uppercase;
}

.header,
.footer {
  @include make-spacer('px', 2);
}

.footer {
  @include make-spacer('py', 2);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: rem(10px);
}

.wrapper {
  @include make-spacer(p, 2);

  border-bottom: 1px solid var(--border);
}

.field {
  @include size(100%, rem(28px));
  @include make-spacer(px, 2);

  border: rem(1px) solid var(--border);
  background-color: var(--primary);
  border-radius: rem(3px);
  font-size: rem(12px);
  color: var(--sub-text);
  pointer-events: none;
}

.notification {
  @include make-spacer(mt, 1);

  font-size: rem(12px);
  max-width: rem(300px);
}
