@import "scss/config";

.block {
  position: relative;
  min-height: rem(300px);
}

.header {
  @include make-spacer('py', 1);
  @include make-spacer('px', 2);

  display: grid;
  grid-template-columns: 1fr rem(13px);
  align-items: center;
  gap: rem(10px);
  background-color: var(--primary);
  border-bottom: 1px solid var(--border);
  height: rem(34px);
  cursor: pointer;
  font-size: rem(12px);
  font-weight: var(--typography-bold);
  text-transform: uppercase;

  &.active,
  &:hover {
    color: var(--text-for-material);
  }
}
