:root {
  --font-size: 1rem;
  --font-family: 'Source Sans 3', sans-serif;

  --line-height: 1.5;

  --typography-regular: 400;
  --typography-medium: 500;
  --typography-semibold: 600;
  --typography-bold: 700;
}
