@import "scss/config";

.block {
  position: fixed;
  top: var(--navigation-height);
  right: 0;
  bottom: 0;
  left: 0;
}

.shadow {
  @include absolute-filled;
}

.wrapper {
  position: absolute;
  right: rem(110px);
}
