@mixin link {
  @include flex(center, center);
  @include size(rem(70px), rem(35px));
  @include make-spacer('mr', 1);

  border-radius: rem(5px);
  filter: drop-shadow(0 0 0.5px rgba(0, 0, 0, 0.56));
  box-shadow: inset 0 3px 3.5px rgba(0, 0, 0, 0.18);
  background-image: linear-gradient(0deg, #294329 0%, #00a900 52%, #00a900 100%);
  border: 0 solid var(--color-black);
  color: var(--color-white);
  font-weight: var(--typography-bold);
  font-size: rem(12px);
  text-transform: uppercase;
  text-align: center;
  transition: var(--default-transition);

  &:last-child {
    @include make-spacer('mr', 0);
  }

  &:hover,
  &.active {
    background: linear-gradient(360deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.1) 100%);
    background-color: var(--color-red);
  }
}
