@mixin odd {
  @include flex(center, center);
  @include size(100%);

  position: relative;
  border: 0 solid var(--color-black);
  min-height: rem(42px);
  transition: var(--default-transition);
  cursor: pointer;
  font-weight: var(--typography-bold);
  font-size: rem(17px);
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);

  &:hover {
    background-image: linear-gradient(0deg, #294329 0%, #00a900 52%, #00a900 100%);
  }

  &.disabled {
    pointer-events: none;
    background-image: linear-gradient(0deg, #111111 0%, #3f3f3f 17%, #6d6d6d 51%, #6d6d6d 100%);
  }

  &.active {
    background: linear-gradient(360deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.1) 100%);
    background-color: var(--color-red);
  }
}
