@import "scss/config";

.block {
  @include size(rem(40px), rem(20px));

  display: block;
  position: relative;
  border-radius: rem(20px);
  overflow: hidden;
  cursor: pointer;

  .input {
    @include size(0);

    opacity: 0;

    &:checked + .slide {
      background-color: var(--link-hover);

      &::before {
        transform: translateX(rem(20px));
        background-color: var(--white);
      }
    }

    &:checked ~ .icon {

      &.right {
        color: var(--link-hover);
      }
    }
  }

  .slide {
    @include absolute-filled;

    cursor: pointer;
    transition: var(--default-transition);
    background-color: var(--sub-text);

    &::before {
      @include size(rem(16px));

      position: absolute;
      bottom: rem(2px);
      left: rem(2px);
      transition: var(--default-transition);
      border-radius: 50%;
      background-color: var(--bg);
      content: '';
    }
  }

  .icon {
    @include size(rem(14px));

    z-index: 1;

    &.left {
      @include absolute-center-left(rem(3px));
    }

    &.right {
      @include absolute-center-right(rem(3px));

      color: var(--bg);
    }
  }
}
